h1{
    background-color: aqua;
    padding-top: 25px;
    border: 15px solid rgb(0, 9, 128);
    padding-bottom: 25px;
    padding-left: 100px;
}
h2{
    background-color: black;
    color: white;
    border: solid rgb(47, 213, 255);
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 100px;


}